target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
ajcore*.txt

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Eclipse
.settings/
*.launch
.classpath
.project

# Netbeans
nbproject/
nbactions.xml
nb-configuration.xml

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
